.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color__alpha-0);
}

.modal__background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal__card {
  position: relative;
  max-width: calc(100% - calc(var(--size__big-space) * 2));
  max-height: calc(100% - calc(var(--size__big-space) * 2));
  border: none;
  background-color: var(--color__layer-0);
  top: none;
}

.modal__close {
  position: absolute;
  left: -5px;
  top: -5px;
}

.modal__close:hover {
  cursor: pointer;
  background-color: var(--color__layer-0);
}
