.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color__alpha-0);
}

.modal__background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal__card {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 700px;
  border: none;
}

.modal__close {
  position: absolute;
  left: -5px;
  top: -5px;
  /* width: var(--size__big-space);
  height: var(--size__big-space);
  border-radius: calc(var(--size__big-space) / 2);
  background-color: var(--color__layer-2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 1px #111; */
}

.modal__close:hover {
  cursor: pointer;
  background-color: var(--color__layer-0);
}
