.text-button {
  width: auto;
  padding: 0 calc(var(--size__big-space) / 2);
}

.text-button:hover, .text-button:hover * {
  cursor: pointer;
  color: var(--color__theme-1);
  background-color: #00000000;
}
