:root {
  --color__layer-0: #f6f6f6;
  --color__layer-1: #e6e6e6;
  --color__layer-2: #d6d6d6;
  --color__test: #4492b1;

  --color__theme-1: rgb(133, 34, 34);
  --color__error: rgb(218, 54, 54);

  --color__control: #767682;
  --color__input: #ffffff;
  --color__border: #aaaaaa;

  /* --color__alpha-0: rgba(0, 0, 0, 0.15); */
  --color__alpha-0: #00000022;
  --color__alpha-1: #00000044;
  --color__alpha-2: #000000dd;

  --color__text: default;
  --color__text-light: gray;

  --color__a: default;

  --size__text-1: 40px;
  --size__text-2: 32px;
  --size__text-3: 24px;
  --size__text-explanation: 12px;
  --size__line-height: 1.4em;
  --size__bgr-space: 64px;
  --size__big-space: 32px;
  --size__med-space: 16px;
  --size__sml-space: 8px;
  --size__mni-space: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__layer-0: #161620;
    --color__layer-1: #262630;
    --color__layer-2: #363640;

    --color__theme-1: rgb(148, 56, 56);
    --color__error: rgb(218, 54, 54);

    --color__control: #767682;
    --color__input: #000000;
    --color__border: #373753;

    /* --color__alpha-0: rgba(0, 0, 0, 0.15); */
    --color__alpha-0: #ffffff11;
    --color__alpha-1: #ffffff44;
    --color__alpha-2: #ffffff66;
    --color__alpha-0-flip: #00000011;
    --color__alpha-1-flip: #00000044;
    --color__alpha-2-flip: #00000066;

    --color__text: #eeeeee;
    --color__text-light: gray;

    --color__a: #ddf;
  }
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--color__layer-0);
  color: var(--color__text);
}

a {
  color: inherit;
}

input, textarea, select {
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
  font-weight: inherit;
  font-size: inherit;
}

select:hover {
  cursor: pointer;
}

textarea {
  height: 100px;
  padding-top: calc(var(--size__big-space) / 3);
  font-family: inherit;
  font-size: inherit;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}



.header-1 {
  font-size: var(--size__text-1);
}

.header-2 {
  font-size: var(--size__text-2);
}

.header-3 {
  font-size: var(--size__text-3);
}

.text-explanation-small {
  color: var(--color__text-light);
  text-transform: uppercase;
  font-size: var(--size__text-explanation);
  margin-bottom: var(--size__sml-space)
}

.card {
  padding: var(--size__big-space);
  border-radius: var(--size__big-space);
  /* margin: var(--size__big-space) 0; */
  background-color: var(--color__layer-1);
}

.card:not(.card:first-child) {
  margin: var(--size__big-space) 0;
}

.card > *:not(.card > *:first-child) {
  margin-top: var(--size__med-space);
}

.space-col-big:not(.space-col-big:first-child) {
  margin: var(--size__big-space) 0;
}

.space-col-big > *:not(.space-col-big > *:first-child) {
  margin-top: var(--size__med-space);
}

.form-field {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--size__big-space);
  padding: 0 calc(var(--size__big-space) / 3);
  border-radius: calc(var(--size__big-space) / 2);
  background-color: var(--color__input);
}

.form-footer {
  margin: var(--size__med-space);
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: var(--color__text-light)
}

.val-errors {
  border-radius: var(--size__sml-space);
  padding: var(--size__sml-space);
  border: 2px solid var(--color__error);
  color: var(--color__error);
  background-color: var(--color__layer-0);
}

.flex-column-sml {
  display: flex;
  flex-direction: column;
}

.flex-column-sml > *:not(.flex-column-sml > *:first-child) {
  margin-top: var(--size__sml-space);
}

.flex-column-med {
  display: flex;
  flex-direction: column;
}

.flex-column-med > *:not(.flex-column-med > *:first-child) {
  margin-top: var(--size__med-space);
}

.icon-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size__big-space);
  height: var(--size__big-space);
  border: 3px solid var(--color__theme-1);
  border-radius: calc(var(--size__big-space) / 2);
  /* color: var(--color__text); */
  font-size: calc(var(--size__big-space) / 2);
  /* background-color: var(--color__control); */
  font-weight: bold;
  background-color: var(--color__theme-1);
  color: var(--color__layer-0);
}

.icon-big:hover {
  cursor: pointer;
  color: var(--color__theme-1);
  background-color: #00000000;
}

.icon-bigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size__bgr-space);
  height: var(--size__bgr-space);
  border: 3px solid var(--color__theme-1);
  border-radius: calc(var(--size__bgr-space) / 2);
  /* color: var(--color__text); */
  font-size: calc(var(--size__bgr-space) / 2);
  /* background-color: var(--color__control); */
  font-weight: bold;
  background-color: var(--color__theme-1);
  color: var(--color__layer-0);
}

.icon-bigger:hover {
  cursor: pointer;
  color: var(--color__theme-1);
  background-color: #00000000;
}

.button-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: var(--size__big-space);
  border: 3px solid var(--color__theme-1);
  border-radius: calc(var(--size__big-space) / 2);
  padding: 0 calc(var(--size__big-space) / 2);
  font-weight: bold;
  background-color: var(--color__theme-1);
  color: var(--color__layer-0);
}

.button-big:not(.button-big:first-child) {
  margin-left: calc(var(--size__big-space) / 4);
}

.button-big:hover, .button-big:hover * {
  cursor: pointer;
  color: var(--color__theme-1);
  background-color: #00000000;
}

.button-bigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: var(--size__bgr-space);
  border: 3px solid var(--color__theme-1);
  border-radius: calc(var(--size__bgr-space) / 2);
  padding: 0 calc(var(--size__bgr-space) / 2);
  font-weight: bold;
  background-color: var(--color__theme-1);
  color: var(--color__layer-0);
}

.button-bigger:not(.button-bigger:first-child) {
  margin-left: calc(var(--size__bgr-space) / 4);
}

.button-bigger:hover, .button-bigger *:hover {
  cursor: pointer;
  color: var(--color__theme-1);
  background-color: #00000000;
}

.x-button-group {
  display: flex;
  align-items: center;
}

.x-button-group > *:not(.x-button-group:first-child) {
  margin-left: var(--size__sml-space)
}

.logo-div-b {
  background-image: url('./assets/logo.png');
}

.subtle-shadow {
  box-shadow: 5px 5px 20px -16px #000000
}
