:root {
  --color-theme-1: #fff;
  --color-navbar: #eee;

  --color-background: default;
  --color-text: default;
  --color-a: default;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-theme-1: #223;
    --color-navbar: #334;

    --color-background: #223;
    --color-text: #eee;
    --color-a: #ddf
  }
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body,
div,
html,
nav,
button {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-a);
}
