.calendar__controls {
  display: flex;
  justify-content: space-between;
}

.calendar__headers {
  display: flex;
}

.calendar__header {
  display: flex;
  justify-content: flex-end;
  width: calc(100%/7);
  padding: 0 var(--size__med-space);
  margin-top: var(--size__sml-space);
  color: var(--color__theme-1);
  font-weight: bold;
}

.calendar__view-label {
  width: 175px;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  /* border-radius: var(--size__med-space); */
  border-top: 1px solid var(--color__border);
  border-bottom: 1px solid var(--color__border);
}

.calendar__view-length {
  width: 125px;
}

.calendar__view-page {
  display: flex;
  justify-content: space-between;
}

.calendar__controls > *:not(.calendar__controls > *:first-child) {
  margin-left: var(--size__med-space);
}

.calendar__view-page > *:not(.calendar__view-page > *:first-child) {
  margin-left: var(--size__sml-space);
}
