.text-field {
  /* display: flex; */
  /* align-items: center; */
  flex-grow: 0;
  width: 100%;
  height: var(--size__big-space);
  padding: 0 calc(var(--size__big-space) / 3);
  border-radius: calc(var(--size__big-space) / 2);
  background-color: var(--color__input);

}

.text-field-input {
  display: block;
  color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  font-weight: inherit;
  font-size: inherit;
}
