.list-day {
  --list-day__height: 160px;
  height: var(--list-day__height);
  width: calc(100%/7);
  padding: var(--size__med-space);
  display: flex;
  flex-direction: column;
}

.list-day:hover {
  cursor: pointer;
}

.list-day__date {
  align-self: flex-end;
}
