.postergoround {
  margin-top: 10px;
  height: auto;
  line-height: 0;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Safari and Opera */
.postergoround::-webkit-scrollbar {
  display: none;
}

.postergoround:hover {
  height: 220px;
}
