.pick.pick.pick {
  margin: 0;
}

.pick {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  /* position: relative; */
  z-index: 20;
  overflow-y: scroll;
}

/* .pick__backdrop {
  position: absolute;
  top: 0;
  left: 0;
} */

.pick__editorial-edit {
  height: auto;
}

/* .pick__editorial-edit > * {
  height: 100px;
} */

.pick__edit-controls {
  width: calc(100% - calc(var(--size__big-space) * 2));
  height: calc(var(--size__big-space) * 2);
  position: absolute;
  bottom: var(--size__big-space);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: none;
}

.pick__edit-controls {
  background: linear-gradient(to bottom, #00000000, var(--color__layer-0), var(--color__layer-0));
}

.pick__edit-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pick__nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color__text-light);
}

.pick__about-text {
  text-align: justify;
}
