.pick.pick.pick {
  margin: 0;
}

.pick {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.pick__editorial-edit {
  height: auto;
}

/* .pick__editorial-edit > * {
  height: 100px;
} */

.pick__edit-controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.pick__edit-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
