.list-days__controls {
  display: flex;
  justify-content: space-between;
}

.list-days__days {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color__layer-2);
  border-radius: var(--size__med-space)
}

.list-days__view-length {
  width: 100px;
}

.list-days__view-page {
  display: flex;
  justify-content: space-between;
}

.list-days__controls > *:not(.list-days__controls > *:first-child) {
  margin-left: var(--size__med-space);
}

.list-days__view-page > *:not(.list-days__view-page > *:first-child) {
  margin-left: var(--size__sml-space);
}
