.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color__layer-0);
  padding: var(--size__sml-space) var(--size__big-space);
  width: 100%;
  height: 60px;
}

.navbar__items {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar__profile-items {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__profile-items > *:not(.navbar__profile-items > *:first-child) {
  margin-left: var(--size__med-space)
}

.navbar__item {
  height: 100%;
}

.dropdown__trigger {
  height: 100%;
  display: flex;
  align-items: center;
}
