.nav-menu__arrow {
  margin: var(--size__sml-space);
  color: var(--color__theme-1);
  font-size: larger;
}

.logo-div {
  height: 100%;
}

.logo {
  height: 100%;
  width: auto;
}

.logo-text {
  height: 100%;
  margin-left: var(--size__sml-space);
  display: flex;
}

.logo-text-inner {
  color: var(--color__theme-1);
  align-items: center;
}
