.list-card__title {
  width: auto;
  display: inline-block;
}

.list-card__title:hover {
  cursor: pointer;
  color: var(--color__theme-1)
}

.card-fade {
  --max-lines: 2;
  overflow: hidden;
  position: relative;
  line-height: var(--size__line-height);
  height: calc(var(--size__line-height) * var(--max-lines)); /* exactly three lines */
}

.card-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: var(--size__line-height);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color__layer-1) 80%);
}
