.list-card {
  --list-card-space: 25px;
  padding: var(--list-card-space);
  border-radius: var(--list-card-space);
  /* width: calc(100% - calc(var(--list-card-margin)*2)); */
  margin: var(--list-card-space);
  background-color: var(--color__card);
  max-width: 800px;
}

.list-card__title {
  font-size: var(--size__text-1);
  padding-bottom: 5px;
}

.list-card__date {
  padding-bottom: 5px;
}

.card-fade {
  --max-lines: 2;
  overflow: hidden;
  position: relative;
  height: calc(var(--size__line-height) * var(--max-lines)); /* exactly three lines */
}
.card-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: var(--size__line-height);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color__card) 80%);
}
